PORT=5000
DB_USERNAME=cohabit_admin
DB_PASSWORD=moucherons
DB_NAME=cohabit
BASE_URL=http://localhost
DB_URL=postgres://cohabit_admin:moucherons@localhost/cohabit
DB_DIALECT=postgres
ACCESS_TOKEN_SECRET=rB7+lybyQ5lnDUwy5fj7pHQK4j+F58E+ck/I4+MX3FI=
EMAIL_USERNAME=app.cohabit@gmail.com
EMAIL_PASSWORD=gean note vwxt ifac
OAUTH_CLIENTID=1050299715636-48qk4qhl1uojcb8qih8ids813ef4dle4.apps.googleusercontent.com
OAUTH_CLIENT_SECRET=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
OAUTH_REFRESH_TOKEN=1//04xQp9fZwmjxjCgYIARAAGAQSNwF-L9IrGaPVGEJVFBVZybNZyu72URF9RrEsokrzpJU4KhCKiy34_uP7T2QHJ79LFxasAAuLafg